<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">

  <input type="hidden" name="CandidatoId" [value]="service.formData.CandidatoId">
  <!-- Nombre -->
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="Nombre" #Nombre="ngModel" [(ngModel)]="service.formData.Nombre" class="form-control"
        placeholder="Nombre">
    </div>
  </div>

  <!-- Apellido -->
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="Apellido" #Nombre="ngModel" [(ngModel)]="service.formData.Apellido" class="form-control"
        placeholder="Apellido">
    </div>
  </div>

  <!-- Fecha de Nacimiento -->
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input type="date" name="FechaDeNacimiento" #FechaDeNacimiento="ngModel"
        [(ngModel)]="service.formData.FechaDeNacimiento" class="form-control" placeholder="Fecha De Nacimiento">
    </div>
  </div>

  <!-- Email -->
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle"></i>
        </div>
      </div>
      <input name="Email" #Nombre="ngModel" [(ngModel)]="service.formData.Email" class="form-control"
        placeholder="Email">
    </div>
  </div>

  <div class="form-group">
    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-3">
        <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        <button type="button" class="btn btn-success" (click)="file.click()">Upload File</button>
      </div>
      <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
          {{progress}}%
        </span>
        <span class="upload" *ngIf="message">
          {{message}}
        </span>
      </div>
    </div>
  </div>

  <!-- Tabla empleos-->
  <table class="table table-borderless">
    <thead class="thead-light">
      <th>Empleo</th>
      <th>Periodo</th>
      <th>
        <a class="btn btn-sm btn-success text-white" (click)="AddOrEditOrderItem(null,service.formData.OrderID)"><i class="fa fa-plus"></i> Add Item</a>
      </th>
    </thead>
    <tbody>
      <!-- <tr *ngIf="service.orderItems.length==0" [class.text-danger]="!isValid && service.orderItems.length==0">
        <td class="font-italic text-center" colspan="5">
          No food item selected for this order.
        </td>
      </tr> -->

      <!-- <tr *ngFor="let item of service.orderItems;let i=index;">
        <td>{{item.ItemName}}</td>
        <td>{{item.Price}}</td>
        <td>{{item.Quantity}}</td>
        <td>{{item.Total}}</td>
        <td>
          <a class="btn btn-sm btn-info text-white" (click)="AddOrEditOrderItem(i,service.formData.OrderID)"><i class="fa fa-pencil"></i></a>
          <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDeleteOrderItem(item.OrderItemID,i)"><i class="fa fa-trash"></i></a>
        </td>
      </tr> -->
    </tbody>
  </table>



  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid"><i
        class="fas fa-database"></i> Submit</button>
  </div>

</form>
